<div class="row">
 
  
  <div class="col-xs-12 col-12 col-md-4 form-group mb-3">
    <p>Giriş Tarihi</p>
    <input type="text"
           placeholder="Datepicker"
           class="form-control"
           [bsConfig]="{ customTodayClass: 'custom-today-class' }"
           bsDatepicker>
  </div>
  <div class="col-xs-12 col-12 col-md-4 form-group mb-3">
    <p>Çıkış Tarihi</p>
    <input type="text"
           placeholder="Datepicker"
           class="form-control"
           [bsConfig]="{ customTodayClass: 'custom-today-class' }"
           bsDatepicker>
  </div>

  <div class="col-xs-12 col-12 col-md-4 form-group mb-3">
    <div class="oda" data-automation="guest">
      <p>Konuklar</p>
      <button class="oda" data-automation="roomsandguests">
        <div class="deneme">
          <div class="dic">
            <span>
              <span class="room-info">1 Oda</span>
              ", "
              <span class="adult-info">2 yetişkin</span>
              ", "
              <span class="child-info">0 çocuk</span>
              ", "
            </span>
          </div>
        </div>
      </button>
    </div>
  </div>
</div>
