<div class="container">
    <div class="row">
      <div class="col-md-3">
        <div class="card text-white bg-primary mb-3">
          <div class="card-header">Toplam Kullanıcı Sayısı</div>
          <div class="card-body">
            <h5 class="card-title">{{ totalUsers }}</h5>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card text-white bg-success mb-3">
          <div class="card-header">Toplam Şehir Sayısı</div>
          <div class="card-body">
            <h5 class="card-title">{{ totalCities }}</h5>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card text-white bg-warning mb-3">
          <div class="card-header">Toplam Otel Sayısı</div>
          <div class="card-body">
            <h5 class="card-title">{{ totalHotels }}</h5>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card text-white bg-danger mb-3">
          <div class="card-header">Toplam Rezervasyon Sayısı</div>
          <div class="card-body">
            <h5 class="card-title">{{ totalReservations }}</h5>
          </div>
        </div>
      </div>
    </div>
  </div>
  
