/* Örnek stil tanımlamaları, ihtiyaca göre düzenlenebilir */
.city-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  .city-table th, .city-table td {
    padding: 10px;
    text-align: left;
    border: 1px solid #ccc;
  }
  
  .edit-button, .delete-button {
    padding: 5px 10px;
    cursor: pointer;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
    margin-right: 5px;
  }
  
  .edit-button:hover, .delete-button:hover {
    background-color: #0056b3;
  }
  .card .card-body {
    padding: 15px 15px 10px 15px;
}  